.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .span6{

    
      border-left: 6px solid green;
      height: 500px !important; 

  }

  .address1{
    border: 1px solid green;
  }


