.navbar
{
  background-color: #1C1C1C;
}
.navbar-brand  {
  color: white ;
}

.nav-link{
  color: white ;

}

.menu-link:hover {
  color: #03C0C0 !important;
} 

.contactme-card {
  background-color: whitesmoke;
  border-radius: 10px;
}
.fa-navicon{
 
  color: white !important;
}

.signin:hover{
  background-color: #03C0C0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}