.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}


.student-perception-header{
    color:rgb(3, 56, 46);

}

.fa-user{
    color: rgb(0, 171, 21);;
}

.img{
    border-radius: 50px 50px !important;
}