.course-card{
    min-height: 400px;
    max-height: 400px;
}

.course-price
{
    color: #03C0C0;
}
.fb{
    width: 48% ;
    background-color: #03C0C0;
    font-weight: 700;
    color: white;
    border: 0;
    padding: 7px;
}


.gmail{
    width: 48% ;
    background-color: #03C0C0;
    font-weight: 700;
    color: white;
    border: 0;
    padding: 7px;
}

