
.footer{
    background-color:#1C1C1C;
    position: "fixed";
    left: "0";
    bottom: "0";
  
  }
  

  .social-icons-f
  {
    height: 45.6px;
    width: 45.6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
     align-items: center;
  }

  .social-icons-f i{
    color: white;

  }

  .social-icons-f i:hover{
    color: #03C0C0 !important;

  }
 
 
  
  .fixed-bottom1 {
    position: fixed;
    right: 5%;
    bottom: 7%;
    z-index: 1030;
  background-color: #da984d;
  }
  